/* App.css */
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f5f5f5;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.qr-code-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.header, .footer {
  text-align: center;
}

/* App.css */
.qr-code {
  cursor: pointer;
}

.click-instruction {
  font-size: 14px;
  color: #555;
  margin-top: 10px;
}

.copy-success {
  color: green;
  margin-top: 10px;
}
